<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="MyApp">
    <Appenders>
        <RollingRandomAccessFile name="LogApp" fileName="log/app.log" filePattern="log/app/app-%d{yyyy-MM-dd_HH}_%i.log" immediateFlush="false" append="true" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="4 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Exception" fileName="log/exception.log" filePattern="log/exception/exception-%d{yyyy-MM-dd_HH}_%i.log" immediateFlush="false" append="true" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="4 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingRandomAccessFile>

        <Async name="ASYNC_LogApp" includeLocation="true">
            <AppenderRef ref="LogApp" />
        </Async>

        <Async name="ASYNC_Exception" includeLocation="true">
            <AppenderRef ref="Exception" />
        </Async>

    </Appenders>

    <Loggers>
        <Logger name="io.dveamer.sample" level="info" additivity="false">
            <AppenderRef ref="ASYNC_LogApp"/>
        </Logger>
        <Logger name="io.dveamer.sample.manual" level="debug" additivity="false">
            <AppenderRef ref="ASYNC_LogApp"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="ASYNC_Exception"/>
        </Root>
    </Loggers>
</Configuration>

